.navbar {
    display: block;
}

.navbar-item {
    display: inline-block;
    width: 25%;
    background-color: lightcoral;
    text-align: center;
    font-size: 28px;
    text-decoration: none;
}

.navbar-item:hover {
    background-color: #336699;
}

.active {
    background-color: green;
}
